<% if (locals.errors) {%>
  <div class="list-container">
    <ul class="errors-list">
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  </div>
<% } %>