<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Brands</title>
    </head>
    <body>
        <div class="container">
            <div class="nav-container">
                <%- include('navbar', { links: links }) %>
            </div>
            <div class="content-container">
                <h1>All Brands</h1>
                <div class="list-container">
                    <ul>
                        <% if (locals.brands) { %>
                            <% brands.forEach(brand => { %>
                                <li><a href="/brands/<%= brand.id %>"><%= brand.brand_name %></a></li>
                            <% }); %>
                        <% } %>
                    </ul>
                </div>
                <div class="new-link"><a href="/brands/new">Create New Brand</a></div>
            </div>
        </div>
    </body>
</html>