<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>New Brand</title>
    </head>
    <body>
        <div class="container">
            <div class="nav-container">
                <%- include('navbar', { links: links }) %>
            </div>
            <div class="content-container">
                <h2>Create a new brand</h2>
                <%- include("partials/errors.ejs") %>
                <form class="input-form" action="/brands/new" method="POST">
                    <div class="form-item">
                        <label for="brandName">Brand Name: </label>
                        <input type="text" name="brandName" id="brandName" placeholder="Enter brand name" maxlength="50" required>
                    </div>
                    <button type="submit" class="submit-button">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>