<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Categories</title>
    </head>
    <body>
        <div class="container">
            <div class="nav-container">
                <%- include('navbar', { links: links }) %>
            </div>
            <div class="content-container">
                <h1>All Categories</h1>
                <div class="list-container">
                    <ul>
                        <% if (locals.categories) { %>
                            <% categories.forEach(category => { %>
                                <li><a href="/categories/<%= category.id %>"><%= category.category_name %></a></li>
                            <% }); %>
                        <% } %>
                    </ul>
                </div>
                <div class="new-link"><a href="/categories/new">Create New Category</a></div>
            </div>
        </div>
    </body>
</html>