<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Inventory Home</title>
    </head>
    <body>
        <div class="container">
            <div class="nav-container">
                <%- include('navbar', { links: links }) %>
            </div>
            <div class="content-container">
                <h1>Percussion Pit Inventory Overview</h1>
                <div class="list-container">
                    <ul class="index-list">
                        <li><b>Brand Count</b>: <%= brandCount %></li>
                        <li><b>Category Count</b>: <%= categoryCount %></li>
                        <li><b>Item Count</b>: <%= itemCount %></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>