<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Home</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body>
        <h2>Inventory Overview</h2>
        <ul>
            <li>Brand Count: <%= brandCount %></li>
            <li>Category Count: <%= categoryCount %></li>
            <li>Item Count: <%= itemCount %></li>
        </ul>
    </body>
</html>