<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Items</title>
    </head>
    <body>
        <div class="container">
            <div class="nav-container">
                <%- include('navbar', { links: links }) %>
            </div>
            <div class="content-container">
                <h1>All Items</h1>
                <% if (locals.items) { %>
                    <div class="list-container">
                        <ul>
                            <% items.forEach(item => { %>
                                <li><a href="/items/<%= item.item_id %>"><%= item.brand_name %> <%= item.item_name %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                <% } else { %> 
                    <div>No items to show</div>
                <% } %>
                <div class="new-link"><a href="/items/new">Create New Item</a></div>
            </div>
        </div>
    </body>
</html>