* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

.nav-container {
    grid-column: 1 / 2;
    background-color: coral;
}

.nav-bar ul {
    list-style: none;
    font-weight: bold;
}

.content-container {
    background-color: blanchedalmond;
}

.nav-container,
.content-container {
    padding: 1rem;
}

.index-list {
    font-size: 24px;
}

.input-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 10px;
    padding: .5rem;
    background-color: whitesmoke;
    border: 1rem, solid, turquoise;
    border-radius: 8px;
}

.form-item {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    margin: auto;
}

.update-form,
.delete-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    width: 300px;
}

.cancel-update {
    margin: auto;
}

.errors-list {
    color: red;
    text-align: center;
    padding-bottom: 10px;
}

.item-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-photo {
    width: 40%;
}